bin/
obj/

*.cache
*.nupkg
*.pdb
*.trx
*.dll
*.zip
*DotSettings.user
*.pyc
*.user
*.suo
*.sln

.vs/
.sonarqube/
.sonarlint/

*.GhostDoc.xml
*.GhostDoc.user.dic
src/packages/*
src/TestResults/*
build/doc/*
sandcastle/Help/*
DemoProject/packages/*
XsdSchemaFetcher/SchemaFetcher/packages/*

build/Help/*
export

**/Documentation/*
**/packages/*
**/custom/*